<div class="col-sm-12">
    <p>Hello</p>
    <ul class="list-group" id="competitions">
      {{#each competitions}}
        <li class='list-group-item'>
            <h1>{{this.title}}</h1>
            <h2>{{this.grade}}</h2>
            <h2>{{this.questionCount}}</h2>
        </li>
      {{/each}}
    </ul>
</div>
