<div class="col-sm-12">
    <legend>Make A Competition</legend>
    <form id='new-competition'>
        <div class="form-group">
            <input class="" type="text" placeholder= "Competition Title" name="title" /></br>
            <input  class="" type="text" placeholder= "Grade Level" name="grade" /></br>
            <input  class="" type="text" placeholder= "Topic" name="topic" /></br>
            <input  class="" type="text" placeholder= "Question Count" name="questionCount"/>
        </div>
        <button class="btn btn-primary btn-responsive  button-create" type='submit'>Save</button>
    </form>
</div>
